<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div class="container-fluid">
        <img src="~/img/DOT.png" />
        <ul class="nav navbar-nav navbar-right">
            <li class="active">
                <div>
                    <a class="btn btn-social-icon btn-twitter">
                        <i class="fa fa-twitter-square"></i>
                    </a>
                </div>
            </li>
            <li class="active">
                <div>
                    <a class="btn btn-social-icon">
                        <i class="fa fa-facebook-square"></i>
                    </a>
                </div>
            </li>

            <li class="active">
                <div>
                    <a class="btn btn-social-icon">
                        <i class="fa fa-envelope-square"></i>
                    </a>
                </div>
            </li>


        </ul>
    </div>


    <div class="navbar-wrapper">
        <div class="container-fluid">
            @*<nav class="navbar navbar navbar-static-top " role="navigation">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <img src="~/img/DOT.png" />

                    </a>
                   
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active">
                            <div>
                                <a class="btn btn-social-icon btn-twitter">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </div>
                        </li>
                        <li class="active">
                            <div>
                                <a class="btn btn-social-icon">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </div>
                        </li>

                        <li class="active">
                            <div>
                                <a class="btn btn-social-icon">
                                    <i class="fa fa-envelope"></i>
                                </a>
                            </div>
                        </li>


                    </ul>
                </div><!-- /.navbar-collapse -->
            </nav>*@

           

            <nav class="navbar navbar-default" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                       

                      
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li class="active">@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li class="divider"></li>
                                    <li class="dropdown-header">Nav header</li>
                                    <li><a href="#">Separated link</a></li>
                                    <li><a href="#">One more separated link</a></li>
                                </ul>
                            </li>
                            <li>
                                <form class="navbar-form navbar-left" role="search">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Search">
                                    </div>
                                    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

        </div>


    </div>
    <div class="container-fluid">
        @RenderBody()
        <hr />





        @Html.Partial("Footer")



    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
